<div class="nav">
    <h1 id="mainTitle">Podcasts</h1>
    <ul id="navBar">
        <li style="background:#E7DFDD;"><a href="/" style="color: #0E0B16">Home</a></li>
        <li style="background:#4717F6"><a href="/addNewPodcast">Add New Podcast</a></li>
        <li><a href="/highestRated">Highest Rated</a></li>
        <li><a href="/alphabetical">Alphabetical</a></li>
        <li><a href="/justAdded">Just Added</a></li>
        <li><a href="/randomPodcast">Random Podcast</a></li>
        <li><a href="/lowestRated">Lowest Rated</a></li>

    </ul>

</div>
<br>



